<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
  <!--<![endif]-->

<head>
    <meta charset="utf-8">
    <title>Indépendance Immobiliere</title>
    <meta name="description" content="INDEPENDANCE IMMOBILIERE est ouverte depuis 1974.L''agence est sous la direction de Mme Fabienne CARRERE, diplômée en Droit des Affaires, Premier Clerc de Notaire, diplômée de l''Ecole Villaret de Joyeuse à Paris. INDEPENDANCE IMMOBILIERE est installée avenue Fadiga, immeuble Lahad Mbacké, dans des bureaux modernes et confortables, sur une superficie de 250 m2.  INDEPENDANCE IMMOBILIERE est titulaire d''une carte professionnelle (carte  n° 008 du 6 novembre 1987) délivrée par les autorités compétentes (Ministère du Commerce). Son bilan est dressé par un conseil fiscaliste et cabinet comptable.">
    <meta name="author" content="www.revovision.ca">

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link href="/uploads/iiif.png">

    <!-- Web Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,500italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Fontello CSS -->
    <link href="fonts/fontello/css/fontello.css" rel="stylesheet">

    <!-- Plugins -->
    <link href="/plugins/magnific-popup/magnific-popup.css" rel="stylesheet">
    <link href="/plugins/rs-plugin/css/settings.css" rel="stylesheet">
    <!--<link href="/css/animations.css" rel="stylesheet">-->
    <link href="/plugins/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/plugins/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/plugins/hover/hover-min.css" rel="stylesheet">    
    
    <!-- The Project core CSS file -->
    <link href="css/style.css" rel="stylesheet" >
    <!-- Color Scheme (In order to change the color scheme, replace the blue.css with the color scheme that you prefer)-->
    <link href="css/skins/blue.css" rel="stylesheet">

    <!-- Custom css --> 
    <link href="css/custom.css" rel="stylesheet">
  </head>

  <!-- body classes:  -->
  <!-- "boxed": boxed layout mode e.g. <body class="boxed"> -->
  <!-- "pattern-1 ... pattern-9": background patterns for boxed layout mode e.g. <body class="boxed pattern-1"> -->
  <!-- "transparent-header": makes the header transparent and pulls the banner to top -->
  <!-- "gradient-background-header": applies gradient background to header -->
  <!-- "page-loader-1 ... page-loader-6": add a page loader to the page (more info @components-page-loaders.html) -->
  <body class="no-trans  transparent-header  ">

    <!-- scrollToTop -->
    <!-- ================ -->
    <div class="scrollToTop circle"><i class="icon-up-open-big"></i></div>
    
    <!-- page wrapper start -->
    <!-- ================ -->
    <div class="page-wrapper">
    
      <!-- header-container start -->
      <!-- header-container start -->
      <div class="header-container">
        
        <!-- header-top start -->
        <!-- classes:  -->
        <!-- "dark": dark version of header top e.g. class="header-top dark" -->
        <!-- "colored": colored version of header top e.g. class="header-top colored" -->
        <!-- ================ -->
        <div class="header-top colored ">
          <div class="container">
            <div class="row">
              <div class="col-xs-3 col-sm-6 col-md-9">
                <!-- header-top-first start -->
                <!-- ================ -->
                <div class="header-top-first clearfix">
                  <ul class="social-links circle small clearfix hidden-xs">
                    
                    <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                   
                    <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                  </ul>
                  <div class="social-links hidden-lg hidden-md hidden-sm circle small">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="fa fa-share-alt"></i></button>
                      <ul class="dropdown-menu dropdown-animation">
                       
                        <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
                        <li class="youtube"><a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube-play"></i></a></li>
                        <li class="facebook"><a target="_blank" href="http://www.facebook.com"><i class="fa fa-facebook"></i></a></li>
                      </ul>
                    </div>
                  </div>
                  <ul class="list-inline hidden-sm hidden-xs">
                    <li><i class="fa fa-map-marker pr-5 pl-10"></i>Av. Fadiga, Immeuble Lahad Mbacké Dakar</li>
                    <li><i class="fa fa-phone pr-5 pl-10"></i>+221 33 823 39 30</li>
                    <li><i class="fa fa-envelope-o pr-5 pl-10"></i> contact@independance-immobiliere.net</li>
                  </ul>
                </div>
                <!-- header-top-first end -->
              </div>
              <div class="col-xs-9 col-sm-6 col-md-3">

                <!-- header-top-second start -->
                <!-- ================ -->
                <div id="header-top-second"  class="clearfix">

                  <!-- header top dropdowns start -->
                  <!-- ================ -->
                  <div class="header-top-dropdown text-right">
                    <div class="btn-group">
                      <a href="https://app.forestry.io/login" class="btn btn-default btn-sm" target="blank"><i class="fa fa-lock pr-10"></i> Connexion</a>
                    </div>
                    
                  </div>
                  <!--  header top dropdowns end -->
                </div>
                <!-- header-top-second end -->
              </div>
            </div>
          </div>
        </div>
        <!-- header-top end -->
        
        <!-- header start -->
        <!-- classes:  -->
        <!-- "fixed": enables fixed navigation mode (sticky menu) e.g. class="header fixed clearfix" -->
        <!-- "dark": dark version of header e.g. class="header dark clearfix" -->
        <!-- "full-width": mandatory class for the full-width menu layout -->
        <!-- "centered": mandatory class for the centered logo layout -->
        <!-- ================ --> 
        <header class="header  fixed    clearfix">
          
          <div class="container">
            <div class="row">
              <div class="col-md-5 ">
                <!-- header-left start -->
                <!-- ================ -->
                <div class="header-left clearfix">
                  
                  <!-- header dropdown buttons -->
                  <div class="header-dropdown-buttons visible-xs">
                    <div class="btn-group dropdown">
                      <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                      <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                        <li>
                          <form action="/search.html" method="get" role="search" class="search-box margin-clear">
                            <div class="form-group has-feedback">
                              <input type="text" class="form-control" placeholder="Search" id="search-box" name="query">
                              <i class="icon-search form-control-feedback"></i>
                            </div>
                            <input type="submit" value="search">
                          </form>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <!-- header dropdown buttons end-->
                  
                  <!-- logo -->
                  <div id="logo" class="logo">
                    <a href="/"><img id="logo_img" src="/uploads/logoo.png" alt="Independance immo"></a>
                  </div>
                </div>
                <!-- header-left end -->

              </div>
              <div class="col-md-7">
          
                <!-- header-right start -->
                <!-- ================ -->
                <div class="header-right clearfix">
                  
                <!-- main-navigation start -->
                <!-- classes: -->
                <!-- "onclick": Makes the dropdowns open on click, this the default bootstrap behavior e.g. class="main-navigation onclick" -->
                <!-- "animated": Enables animations on dropdowns opening e.g. class="main-navigation animated" -->
                <!-- "with-dropdown-buttons": Mandatory class that adds extra space, to the main navigation, for the search and cart dropdowns -->
                <!-- ================ -->
                <div class="main-navigation  animated with-dropdown-buttons">

                  <!-- navbar start -->
                  <!-- ================ -->
                  <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">

                      <!-- Toggle get grouped for better mobile display -->
                      <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                          <span class="sr-only">Toggle navigation</span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                          <span class="icon-bar"></span>
                        </button>
                        
                      </div>

                      <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <!-- main-menu -->
                        <ul class="nav navbar-nav ">

                          <!-- mega-menu start -->
                          <li class="">
                            <a href="/" >Accueil</a>
                            
                          </li>
                          <!-- mega-menu end -->
                          
                          <li>
                            <a href="/about">Présentation</a>
                            
                          </li>
                          <!-- mega-menu start 
                          <li class="dropdown  mega-menu narrow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Voir les biens</a>
                            <ul class="dropdown-menu">
                              <li>
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="row">
                                    {% assign categories = site.categories %}
                                    {% for category in categories%}
                                      <div class="col-sm-6">
                                        <div class="divider"></div>
                                        <ul class="menu">
                                          <li ><a href="{{category.url }}"><i class="icon-share pr-10"></i>En {{category.title }}</a></li>
                                          
                                        </ul>
                                      </div>
                                    {% endfor %}
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                           mega-menu end -->
                          <!-- mega-menu start -->
                          <li class="dropdown  mega-menu narrow">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Voir les biens</a>
                            <ul class="dropdown-menu">
                              <li>
                                <div class="row">
                                  <div class="col-md-12">
                                    
                                    <div class="row">
                                    {% assign categories = site.categories %}
                                    {% for category in categories%}
                                      <div class="col-sm-6">
                                      <a href="{{category.url }}"><h4 class="title"><i class="fa fa-home pr-10"></i> {{category.title }}</h4></a>
                                        <!--<div class="divider"></div>
                                          <ul class="menu">
                                            <li ><a href="#"><i class="icon-share pr-10"></i>Appartements</a></li>
                                            <li ><a href="#"><i class="icon-flask pr-10"></i>Villa</a></li>
                                            <li ><a href="#"><i class="icon-eq pr-10"></i>Hangars</a></li>
                                            <li ><a href="#"><i class=" icon-dot-3 pr-10"></i>Bureaux</a></li>
                                            
                                          </ul>
                                        </div>-->
                                      
                                    </div>
                                    {% endfor %}
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </li>
                          <!-- mega-menu end -->
                          
                          <li>
                            <a href="/contact">Contact</a>
                            
                          </li>
                        </ul>
                        <!-- main-menu end -->
                        
                        <!-- header dropdown buttons -->
                        <div class="header-dropdown-buttons hidden-xs ">
                          <div class="btn-group dropdown">
                            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown"><i class="icon-search"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right dropdown-animation">
                              <li>
                                <form action="/search.html" method="get" role="search" class="search-box margin-clear">
                                  <div class="form-group has-feedback">
                                    <input type="text" class="form-control" placeholder="Search" id="search-box" name="query">
                                    <i class="icon-search form-control-feedback"></i>
                                  </div>
                                  <input type="submit" value="search">
                                </form>
                              </li>
                            </ul>
                          </div>
                          
                        </div>
                        <!-- header dropdown buttons end-->
                        
                      </div>

                    </div>
                  </nav>
                  <!-- navbar end -->

                </div>
                <!-- main-navigation end -->
                </div>
                <!-- header-right end -->
          
              </div>
            </div>
          </div>
          
        </header>
        <!-- header end -->
      </div>
      <!-- header-container end -->

      <!-- header-container end -->
    
   <!-- main-container start -->
      <!-- ================ -->
      <div class="main-container parallax jumbotron border-clear light-translucent-bg text-center margin-clear" style="background-image:url('/uploads/inde4.jpg');">
        <div class="container">
          <div class="row">
            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-6 col-md-offset-3 pv-40">
              <h3 class="page-title"><span class="text-default">Merci de nous avoir contacté!</span></h3>
              <h2>Nous avons bien recu votre e-mail</h2>
              <p>Nous vous recontacterons dans les plus bref délais.</p>
              
              <a href="/" class="btn btn-default btn-animated btn-lg">Retourner à la page d'accueil <i class="fa fa-home"></i></a>
            </div>
            <!-- main end -->
          </div>
        </div>
      </div>
      <!-- main-container end -->

     
      

      <!-- footer start (Add "dark" class to #footer in order to enable dark footer) -->
      <!-- ================ -->
      <footer id="footer" class="clearfix ">
        <!-- footer top start -->
      <!-- ================ -->
      <div class="default-bg  dark-hovered footer-top animated-text">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="call-to-action text-center">
                <div class="row">
                  <div class="col-sm-8">
                    <h2>Venez a notre agence</h2>
                    <h2>Av. Fadiga, Immeuble Lahad Mbacké Dakar</h2>
                  </div>
                  <div class="col-sm-4">
                    <p class="mt-10"><a href="/contact" class="btn btn-animated btn-lg btn-gray-transparent " target="blank">Contact<i class="fa fa-envelope pl-20"></i></a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer top end -->
        <!-- .footer start -->
        <!-- ================ -->
        <div class="footer">
          <div class="container">
            <div class="footer-inner">
              <div class="row">
                <div class="col-md-8">
                  <div class="footer-content">
                    <div class="logo-footer"><img id="logo_img" src="/uploads/logoo.png" alt="SMBS_LOGO" style="width: 200px; height: 70px;"></div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="text-justify"><br/>Notre siège est situé en face du siège de la BCEAO et du Casino du Port. Accès facile par le Boulevard de la Libération et de la petite corniche (Corniche EST). Parking réservé a la clientèle.</p>
                        
                        <ul class="list-icons">
                          <li><i class="fa fa-map-marker pr-10 text-default"></i> Av. Fadiga, Immeuble Lahad Mbacké Dakar</li>
                          <li><i class="fa fa-phone pr-10 text-default"></i> +221 33 823 39 30</li>
                          <li><a href="mailto:contact@independance-immobiliere.net"><i class="fa fa-envelope-o pr-10"></i>contact@independance-immobiliere.net</a></li>
                        </ul>
                      </div>
                      <div class="col-md-6">
                        <div id="map-canvas"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--<div class="col-md-4">
                  <div class="footer-content">
                    <h2 class="title">Contactez-nous</h2>
                    <br>
                    <div class="alert alert-success hidden" id="MessageSent2">
                      We have received your message, we will contact you very soon.
                    </div>
                    <div class="alert alert-danger hidden" id="MessageNotSent2">
                      Oops! Something went wrong please refresh the page and try again.
                    </div>
                    <form role="form" id="footer-form" class="margin-clear">
                      <div class="form-group has-feedback">
                        <label class="sr-only" for="name2">Name</label>
                        <input type="text" class="form-control" id="name2" placeholder="Nom" name="name2">
                        <i class="fa fa-user form-control-feedback"></i>
                      </div>
                      <div class="form-group has-feedback">
                        <label class="sr-only" for="email2">Email address</label>
                        <input type="email" class="form-control" id="email2" placeholder="Email" name="email2">
                        <i class="fa fa-envelope form-control-feedback"></i>
                      </div>
                      <div class="form-group has-feedback">
                        <label class="sr-only" for="message2">Message</label>
                        <textarea class="form-control" rows="6" id="message2" placeholder="Message" name="message2"></textarea>
                        <i class="fa fa-pencil form-control-feedback"></i>
                      </div>
                      <input type="submit" value="Envoyer" class="margin-clear submit-button btn btn-default">
                    </form>
                  </div>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <!-- .footer end -->

        <!-- .subfooter start -->
        <!-- ================ -->
        <div class="subfooter default-bg">
          <div class="container">
            <div class="subfooter-inner">
              <div class="row">
                <div class="col-md-12">
                  <p class="text-center">Copyright © 2017 The Project by <a target="_blank" href="http://www.revovision.ca">REVOVISION</a>. All Rights Reserved</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- .subfooter end -->

      </footer>
      <!-- footer end -->
      
    </div>
    <!-- page-wrapper end -->

    <!-- JavaScript files placed at the end of the document so the pages load faster -->
    <!-- ================================================== -->
    <!-- Jquery and Bootstap core js files -->
    <script type="text/javascript" src="/plugins/jquery.min.js"></script>
    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
    <!-- Modernizr javascript -->
    <script type="text/javascript" src="/plugins/modernizr.js"></script>
    <!-- jQuery Revolution Slider  -->
    <script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/plugins/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <!-- Isotope javascript -->
    <script type="text/javascript" src="/plugins/isotope/isotope.pkgd.min.js"></script>
    <!-- Magnific Popup javascript -->
    <script type="text/javascript" src="/plugins/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Appear javascript -->
    <script type="text/javascript" src="/plugins/waypoints/jquery.waypoints.min.js"></script>
    <!-- Count To javascript -->
    <script type="text/javascript" src="/plugins/jquery.countTo.js"></script>
    <!-- Parallax javascript -->
    <script src="/plugins/jquery.parallax-1.1.3.js"></script>
    <!-- Contact form -->
    <script src="/plugins/jquery.validate.js"></script>
    <!-- Google Maps javascript -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDqF7BlCvlPXR7hwllgjCoXBu0Pgew8Ktk"></script>
    <script type="text/javascript" src="/js/google.map.config.js"></script>
    <!-- Owl carousel javascript -->
    <script type="text/javascript" src="/plugins/owl-carousel/owl.carousel.js"></script>
    <!-- SmoothScroll javascript -->
    <script type="text/javascript" src="/plugins/jquery.browser.js"></script>
    <script type="text/javascript" src="/plugins/SmoothScroll.js"></script>
    <!-- Initialization of Plugins -->
    <script type="text/javascript" src="/js/template.js"></script>
    <!-- Custom Scripts -->
    <script type="text/javascript" src="/js/custom.js"></script>
    

  </body>
</html>
