<!-- ================ -->
				<div class="section">
					<div class="container">
						<h3>Pourquoi <strong>Nous Choisir</strong></h3>
						<div class="separator-2"></div>
						<div class="row">
							<!-- accordion start -->
							<!-- ================ -->
							<div class="col-md-6">
								<div class="panel-group collapse-style-1" id="accordion">
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
													<i class="fa fa-rocket pr-10"></i>Notre zone d'intervention
												</a>
											</h4>
										</div>
										<div id="collapseOne" class="panel-collapse collapse in">
											<div class="panel-body">
											Elle s’étend sur toute la presqu’île du Cap Vert, dans les quartiers résidentiels, à savoir la Presqu’île et toute la zone allant de Dakar Centre ville aux Almadies. Sa zone d’intervention s’arrête à l’embranchement de l’autoroute (Pate d’Oie).
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapsed">
													<i class="fa fa-leaf pr-10"></i>Notre structure mise en place 
												</a>
											</h4>
										</div>
										<div id="collapseTwo" class="panel-collapse collapse">
											<div class="panel-body">
												La structure mise en place par INDEPENDANCE IMMOBILIERE est étoffée, solide et compétente.Son équipe composée de 12 personnes, est organisée en plusieurs pôles, chacun ayant sa fonction propre tout en étant en réseau permanent avec les autres : Accueil, Service commercial, Service Travaux, Service Copropriété, Service Vente et enfin la Comptabilité.
											</div>
										</div>
									</div>
									<div class="panel panel-default">
										<div class="panel-heading">
											<h4 class="panel-title">
												<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" class="collapsed">
													<i class="fa fa-heart pr-10"></i>La satisfaction de notre clientèle
												</a>
											</h4>
										</div>
										<div id="collapseThree" class="panel-collapse collapse">
											<div class="panel-body">
												Elle dispose de moyens logistiques lui permettant promptitude et efficacité dans ses échanges avec ses interlocuteurs (plusieurs lignes téléphoniques, matériel informatique performant, plusieurs véhicules et deux roues).
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- accordion end -->
							<!-- progress bars start -->
							<!-- ================ -->
							<div class="col-md-6">
								<div class="progress mt-20 style-1">
									<span class="text"></span>
									<div class="progress-bar progress-bar-default" data-animate-width="90%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">SYNDIC</span>
									</div>
								</div>
								<div class="progress style-1">
									<span class="text"></span>
									<div class="progress-bar progress-bar-default" data-animate-width="95%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">VILLAS</span>
									</div>
								</div>
								<div class="progress style-1">
									<span class="text"></span>
									<div class="progress-bar progress-bar-default" data-animate-width="80%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">TERRAINS</span>
									</div>
								</div>
								<div class="progress style-1">
									<span class="text"></span>
									<div class="progress-bar progress-bar-default" data-animate-width="85%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">APPARTEMENTS</span>
									</div>
								</div>
								<div class="progress style-1">
									<span class="text"></span>
									<div class="progress-bar progress-bar-default" data-animate-width="75%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">GESTION DE PATRIMOINE</span>
									</div>
								</div>
								<div class="progress style-1">
									<span class="text"></span>
									<div class="progress-bar progress-bar-default" data-animate-width="90%">
										<span class="label object-non-visible" data-animation-effect="fadeInLeftSmall" data-effect-delay="1000">ETUDE DE PLAN</span>
									</div>
								</div>
							</div>
							<!-- progress bars end -->
						</div>
						
					</div>
				</div>
				<!-- section end -->