<!-- banner start -->
      <!-- ================ -->
      <div class="banner dark-translucent-bg" style="background-image:url('{{ site.parallax }}'); background-position: 50% 30%;">
        
        <div class="container">
          <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
              <h1 class="page-title text-center">Propriétés en {{ page.title }}</h1>
              <div class="separator"></div>
              
            </div>
          </div>
        </div>
      </div>
      <!-- banner end --><!-- main-container start --><section class="section light-gray-bg clearfix">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- pills start -->
        
        <!-- Tab panes -->
        <div class="tab-content clear-style">
          <div class="tab-pane active" id="pill-1">
            <div class="row masonry-grid-fitrows grid-space-10">
            
            {% assign biens = site.biens | where:"categories", page.title  %}
            {% for bien in biens %}
               <div class="col-md-4 col-sm-6 masonry-grid-item">
                <div class="listing-item white-bg bordered mb-20">
                  <div class="overlay-container">
                  {% if bien.image != empty %}
                    <img src="{{ bien.image}}" alt="{{ bien.title }}" style="width: 400px; height: 200px;">
                    <a class="overlay-link " href="{{ bien.url }}" target="blank"><i class="fa fa-search-plus"></i></a>
                  {% else %}
                    <img src="/images/image_not_found.jpg" alt="image_not_found" style="width: 400px; height: 200px;">
                    <a class="overlay-link " href="{{ bien.url }}" target="blank"><i class="fa fa-search-plus"></i></a>
                  {% endif %}
                    {% if bien.situation == 'Loué' %}
                      <span class="btn btn-warning btn-lg badge">Déja Loué</span>
                    {% endif %}
                    {% if bien.situation == 'Vendu' %}
                      <span class="btn btn-danger btn-lg badge">Déja Vendu</span>
                    {% endif %}
                    {% if bien.situation == 'Disponible' %}
                      <span class="btn btn-info btn-lg badge">Disponible</span>
                    {% endif %}
                    {% if bien.situation == 'Preavis' %}
                      <span class="btn btn-info btn-lg badge">En préavis</span>
                    {% endif %}
                    <div class="overlay-to-top links">
                      <span class="small">
                        <a href="{{ bien.url }}" class="btn-sm-link" target="blank"><i class="icon-link pr-5"></i>Voir Details</a>
                      </span>
                    </div>
                  </div>
                  <div class="body">
                    <h6 class="text-center"><a href="{{ bien.url }}" target="blank">{{ bien.types }} en {{ bien.categories }} réf. {{ bien.reference }} </a></h6>
                    <div class="elements-list clearfix">
                      <span ><i class="fa fa-map-marker pr-5 pl-10"></i> {{ bien.quartiers }}</span>
                      <a href="{{ bien.url }}" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" target="blank">{{ bien.prix }}<i class="fa fa-shopping-cart"></i></a>
                    </div>
                  </div>
                </div>
              </div>
                    
                   
            {% endfor %}
             
            </div>
          </div>
          
        </div>
        <!-- pills end -->
      </div>
    </div>
  </div>
</section>