<!-- banner start -->
			<!-- ================ -->
			<div class="banner dark-translucent-bg" style="background-image:url('{{ site.parallax }}'); background-position: 50% 27%;">
				<!-- breadcrumb start -->
				<!-- ================ -->
				<div class="breadcrumb-container">
					<div class="container">
						<ol class="breadcrumb">
							<li><i class="fa fa-home pr-10"></i><a class="link-dark" href="index.html">Home</a></li>
							<li class="active">Page A Propos</li>
						</ol>
					</div>
				</div>
				<!-- breadcrumb end -->
				<div class="container">
					<div class="row">
						<div class="col-md-8 text-center col-md-offset-2 pv-20">
							<h3 class="title logo-font object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">A <span class="text-default">Propos</span> de nous</h3>
							<div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
							<p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">{{ site.text }}</p>
						</div>
					</div>
				</div>
			</div>
			<!-- banner end -->

			<!-- main-container start -->
			<!-- ================ -->
			<section class="main-container padding-bottom-clear">

				<div class="container">
					<div class="row">

						<!-- main start -->
						<!-- ================ -->
						<div class="main col-md-12">
							<h3 class="title">Qui <strong>Sommes Nous</strong></h3>
							<div class="separator-2"></div>
							<div class="row">
								<div class="col-md-6">
									<p class="text-justify">{{ site.description }}</p>
									
									<ul class="list-icons">
										<li><i class="icon-check-1"></i> Location en tous genres (à usage d’habitation ou professionnel),</li>
										<li><i class="icon-check-1"></i>  Vente et achat de biens immobiliers (recherche de locataires, prospection, recherche de clients pour les ventes),</li>
										<li><i class="icon-check-1"></i> Gérance de biens immobiliers,</li>
										<li><i class="icon-check-1"></i> Syndic de copropriétés,</li>
										<li><i class="icon-check-1"></i> conseil en investissements,</li>
										<li><i class="icon-check-1"></i> Commercialisation de biens immobiliers.</li>
									</ul>
								</div>
								<div class="col-md-6">
									<div class="owl-carousel content-slider-with-controls">
									{% for minislider in site.minisliders %}
										<div class="overlay-container overlay-visible">
											<img src="{{ minislider.image }}" alt="">
											<div class="overlay-bottom hidden-xs">
												<div class="text">
													<h3 class="title">{{ minislider.content }}</h3>
												</div>
											</div>
											<a href="{{ minislider.image }}" class="popup-img overlay-link" title="image title"><i class="icon-plus-1"></i></a>
										</div>
									{% endfor %}
									</div>
								</div>
							</div>
						</div>
						<!-- main end -->

					</div>
				</div>

				
				
				<!-- section start -->
				{% include about_why_choose_us.html %}
				
			</section>
			<!-- main-container end -->
			
			<!-- section start -->
			<!-- ================ -->
			<section class="pv-40 stats padding-bottom-clear dark-translucent-bg hovered section parallax dark-translucent-bg pv-40" style="background-image:url('{{ site.parallax }}');background-position: 50% 32%;">
				<div class="clearfix">
					<div class="col-md-6 col-xs-12 text-center">
						<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="300">
							<span class="icon default-bg circle"><i class="fa fa-diamond"></i></span>
							<h3><strong>Propriétés</strong></h3>
							<span class="counter" data-to="500" data-speed="5000">0</span>
						</div>
					</div>
					<div class="col-md-6 col-xs-12 text-center">
						<div class="feature-box object-non-visible" data-animation-effect="fadeIn" data-effect-delay="1500">
							<span class="icon default-bg circle"><i class="fa fa-users"></i></span>
							<h3><strong>Clients</strong></h3>
							<span class="counter" data-to="1200" data-speed="5000">0</span>
						</div>
					</div>
					
				</div>
			</section>
			<div class="clearfix"></div>
			<!-- section end -->