<!-- section start -->
<!-- ================ -->
<section class="section light-gray-bg clearfix">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<!-- pills start -->
				<!-- ================ -->
				<!-- Nav tabs -->
				<ul class="nav nav-pills" role="tablist">
					<li class="active"><a href="#pill-1" role="tab" data-toggle="tab" title="Tous"><i class="icon-star"></i> Toutes les propriétés</a></li>
					<li><a href="#pill-2" role="tab" data-toggle="tab" title="Latest Arrivals"><i class="icon-star"></i> Ventes uniquement</a></li>
					<li><a href="#pill-3" role="tab" data-toggle="tab" title="Featured"><i class="icon-star"></i> Locations uniquement</a></li>
					
				</ul>
				<!-- Tab panes -->
				<div class="tab-content clear-style">
					<div class="tab-pane active" id="pill-1">
						<div class="row masonry-grid-fitrows grid-space-10">
						{% for bien in site.biens limit:9 %}
							<div class="col-md-4 col-sm-6 masonry-grid-item">
								<div class="listing-item white-bg bordered mb-20">
									<div class="overlay-container">
										{% if bien.image != empty %}
						                    <img src="{{ bien.image}}" alt="{{ bien.title }}" style="width: 400px; height: 200px;">
						                    <a class="overlay-link popup-img-single" href="{{ bien.image}}"><i class="fa fa-search-plus"></i></a>
						                  {% else %}
						                    <img src="/images/image_not_found.jpg" alt="image_not_found" style="width: 400px; height: 200px;">
						                    <a class="overlay-link popup-img-single" href="/images/image_not_found.jpg"><i class="fa fa-search-plus"></i></a>
						                  {% endif %}
										{% if bien.situation == 'Loué' %}
					                      <span class="btn btn-warning btn-lg badge">Déja Loué</span>
					                    {% endif %}
					                    {% if bien.situation == 'Vendu' %}
					                      <span class="btn btn-danger btn-lg badge">Déja Vendu</span>
					                    {% endif %}
					                    {% if bien.situation == 'Disponible' %}
					                      <span class="btn btn-info btn-lg badge">Disponible</span>
					                    {% endif %}
					                    {% if bien.situation == 'Preavis' %}
					                      <span class="btn btn-info btn-lg badge">En préavis</span>
					                    {% endif %}
										<div class="overlay-to-top links">
											<span class="small">
												<a href="{{ bien.url }}" class="btn-sm-link" target="blank"><i class="icon-link pr-5"></i>Voir Details</a>
											</span>
										</div>
									</div>
									<div class="body">
					                    <h6 class="text-center"><a href="{{ bien.url }}" target="blank">{{ bien.types }} en {{ bien.categories }} réf. {{ bien.reference }} </a></h6>
					                    <div class="elements-list clearfix">
					                      <span ><i class="fa fa-map-marker pr-5 pl-10"></i> {{ bien.quartiers }}</span>
					                      <a href="{{ bien.url }}" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" target="blank">{{ bien.prix }}<i class="fa fa-shopping-cart"></i></a>
					                    </div>
					                </div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="tab-pane" id="pill-2">
						<div class="row masonry-grid-fitrows grid-space-10">
						
						{% assign bienns = site.biens | where:"categories", "Vente" %}
						{% for bien in bienns%}
							<div class="col-md-4 col-sm-6 masonry-grid-item">
								<div class="listing-item white-bg bordered mb-20">
									<div class="overlay-container">
										{% if bien.image != empty %}
						                    <img src="{{ bien.image}}" alt="{{ bien.title }}" style="width: 400px; height: 200px;">
						                    <a class="overlay-link popup-img-single" href="{{ bien.image}}"><i class="fa fa-search-plus"></i></a>
						                  {% else %}
						                    <img src="/images/image_not_found.jpg" alt="image_not_found" style="width: 400px; height: 200px;">
						                    <a class="overlay-link popup-img-single" href="/images/image_not_found.jpg"><i class="fa fa-search-plus"></i></a>
						                  {% endif %}
										{% if bien.situation == 'Loué' %}
					                      <span class="btn btn-warning btn-lg badge">Déja Loué</span>
					                    {% endif %}
					                    {% if bien.situation == 'Vendu' %}
					                      <span class="btn btn-danger btn-lg badge">Déja Vendu</span>
					                    {% endif %}
					                    {% if bien.situation == 'Disponible' %}
					                      <span class="btn btn-info btn-lg badge">Disponible</span>
					                    {% endif %}
					                    {% if bien.situation == 'Preavis' %}
					                      <span class="btn btn-info btn-lg badge">En préavis</span>
					                    {% endif %}
										<div class="overlay-to-top links">
											<span class="small">
												<a href="{{ bien.url }}" class="btn-sm-link" target="blank"><i class="icon-link pr-5"></i>Voir Details</a>
											</span>
										</div>
									</div>
									<div class="body">
					                    <h6 class="text-center"><a href="{{ bien.url }}" target="blank">{{ bien.types }} en {{ bien.categories }} réf. {{ bien.reference }} </a></h6>
					                    <div class="elements-list clearfix">
					                      <span ><i class="fa fa-map-marker pr-5 pl-10"></i> {{ bien.quartiers }}</span>
					                      <a href="{{ bien.url }}" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" target="blank">{{ bien.prix }}<i class="fa fa-shopping-cart"></i></a>
					                    </div>
					                </div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="tab-pane" id="pill-3">
						<div class="row masonry-grid-fitrows grid-space-10">
						
						{% assign bienss = site.biens | where:"categories", "Location" %}
						{% for bien in bienss%}
							<div class="col-md-4 col-sm-6 masonry-grid-item">
								<div class="listing-item white-bg bordered mb-20">
									<div class="overlay-container">
										{% if bien.image != empty %}
						                    <img src="{{ bien.image}}" alt="{{ bien.title }}" style="width: 400px; height: 200px;">
						                    <a class="overlay-link popup-img-single" href="{{ bien.image}}"><i class="fa fa-search-plus"></i></a>
						                  {% else %}
						                    <img src="/images/image_not_found.jpg" alt="image_not_found" style="width: 400px; height: 200px;">
						                    <a class="overlay-link popup-img-single" href="/images/image_not_found.jpg"><i class="fa fa-search-plus"></i></a>
						                  {% endif %}
										{% if bien.situation == 'Loué' %}
					                      <span class="btn btn-warning btn-lg badge">Déja Loué</span>
					                    {% endif %}
					                    {% if bien.situation == 'Vendu' %}
					                      <span class="btn btn-danger btn-lg badge">Déja Vendu</span>
					                    {% endif %}
					                    {% if bien.situation == 'Disponible' %}
					                      <span class="btn btn-info btn-lg badge">Disponible</span>
					                    {% endif %}
					                    {% if bien.situation == 'Preavis' %}
					                      <span class="btn btn-info btn-lg badge">En préavis</span>
					                    {% endif %}
										<div class="overlay-to-top links">
											<span class="small">
												<a href="{{ bien.url }}" class="btn-sm-link" target="blank"><i class="icon-link pr-5"></i>Voir Details</a>
											</span>
										</div>
									</div>
									<div class="body">
					                    <h6 class="text-center"><a href="{{ bien.url }}" target="blank">{{ bien.types }} en {{ bien.categories }} réf. {{ bien.reference }} </a></h6>
					                    <div class="elements-list clearfix">
					                      <span ><i class="fa fa-map-marker pr-5 pl-10"></i> {{ bien.quartiers }}</span>
					                      <a href="{{ bien.url }}" class="pull-right margin-clear btn btn-sm btn-default-transparent btn-animated" target="blank">{{ bien.prix }}<i class="fa fa-shopping-cart"></i></a>
					                    </div>
					                </div>
								</div>
							</div>
						{% endfor %}
						</div>
					</div>
					
				</div>
				<!-- pills end -->
			</div>
		</div>
	</div>
</section>
<!-- section end -->