<!-- banner start -->
			<!-- ================ -->
			<div class="">
				<div class="">

					<!-- slideshow start -->
					<!-- ================ -->
					<div class="slideshow">
						
						<!-- slider revolution start -->
						<!-- ================ -->
						<div class="slider-banner-container">
							<div class="slider-banner-fullwidth buttons-hide owl-buttons">
								<ul class="slides">
									<!-- slide 1 start -->
									<!-- ================ -->
									{% for slider in site.sliders %}
									<li data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="on">
									
									<!-- main image -->
									<img src="{{ slider.image }}" alt="slidebg1" data-bgposition="20% 18%"  data-bgrepeat="no-repeat" data-bgfit="cover">
									
									<!-- Transparent Background -->
									<div class="tp-caption dark-translucent-bg"
										data-x="center"
										data-y="bottom"
										data-speed="600"
										data-start="0">
									</div>

									<!-- LAYER NR. 1 -->
									<div class="tp-caption sfb fadeout xlarge_white"
										data-x="left"
										data-y="80"
										data-speed="500"
										data-start="1000"
										data-easing="easeOutQuad">{{ slider.content}}
									</div>	

									<!-- LAYER NR. 2 -->
									<div class="tp-caption sfb fadeout large_white tp-resizeme hidden-xs"
										data-x="left"
										data-y="190"
										data-speed="500"
										data-start="1300"
										data-easing="easeOutQuad"><div class="separator-2 light"></div>
									</div>	

									<!-- LAYER NR. 3 -->
									<div class="tp-caption sfb fadeout medium_white hidden-xs"
										data-x="left"
										data-y="210"
										data-speed="500"
										data-start="1300"
										data-easing="easeOutQuad"
										data-endspeed="600">{{ slider.text}}
									</div>

									</li>
									<!-- slide 1 end -->
									{% endfor %}
									
								</ul>
								<div class="tp-bannertimer"></div>
							</div>
						</div>
						<!-- slider revolution end -->

					</div>
					<!-- slideshow end -->

				</div>
			</div>
			<!-- banner end -->
			<!-- section start -->
			<!-- ================ -->
			<section id="about" class="light-gray-bg pv-20">
				<div class="container">
					<div class="row">
						<div class="col-md-12  text-center pv-20">
							<br>
							<h1 class="title large"><span class="text-default">Bienvenue Chez</span> Indépendance Immobilière</h1>
							<div class="separator"></div>
							<p class="large">{{ site.text }}</p>
						</div>
					</div>
				</div>
			</section>
			<!-- section end -->